@model PizzaModel[]

@{
    ViewData["Title"] = "Pizze";
    var pizze = Model;
   
}
    <div>
        @foreach (var pizza in pizze)
        {
            @await Html.PartialAsync("_Card", pizza)
        }
    </div>


